---
import { getCollection, getEntry } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactList from '../components/ContactList.astro';
import ORCIDList from '../components/ORCIDList.astro';
import PubList from '../components/PubList.astro';
import EduList from '../components/EduList.astro';
import WorkList from '../components/WorkList.astro';
import AwardList from '../components/AwardList.astro';
import SkillList from '../components/SkillList.astro';

const entry = await getCollection('about');
if (!entry) { console.error(entry); }
const data = entry[0].data;
// get params
const metatitle = data.metatitle;
---
<BaseLayout metatitle={metatitle}>
  <section class="mt-sec">
    <div set:html={entry[0].rendered.html}></div>
    <ContactList
      email={data.email}
      github={data.github}
      webpage={data.webpage}
      orcid={data.orcid}
      gscholar={data.gscholar}
    />
  </section>

  <EduList />

  <section class="mt-sec">
    <h2 id="publications">Publications</h2>
    <ORCIDList />
    <PubList />
  </section>

  <WorkList />

  <AwardList />
  
  <section class="mt-sec">
    <h2 id="skills">Skills</h2>
    {// EDIT: components/SkillList.astro}
    <SkillList />
  </section>
</BaseLayout>
