---
import { getCollection, getEntry } from 'astro:content';
import AwardItem from '../components/AwardItem.astro';

const entry = await getCollection('award');
if (!entry) { console.error(entry); }
---
{entry[0]?.data?.sections?.map((section) => (
  <section class="mt-sec">
    <h2 id={section.id}>{section.title}</h2>
    <ul>
    {section.items?.map((item) => (
      <AwardItem
        title={item.title}
        inst={item.inst}
        address={item.address}
        dateStart={item.dateStart}
        dateEnd={item.dateEnd}
        description={item.description}
      />
    ))}
    </ul>
  </section>
))}
