---
import { Icon } from 'astro-icon/components';
const { email, webpage, orcid } = Astro.props;
---
<div class="mt-4">
  <ul class="grid grid-cols-2 gap-x-2">
    <li>
      <Icon name="ic:baseline-email"/>
      <span class="text-sm">{email}</span>
    </li>
    <li>
      <Icon name="orcid"/>
      <a href=`https://orcid.org/${orcid}` class="text-sm">{orcid}</span>
    </li>
    <li>
      <Icon name="ic:baseline-home"/>
      <a href=`https://${webpage}` class="text-sm">{webpage}</span>
    </li>
  </ul>
</div>

<style>
  @reference "../styles/common.css";
  li {@apply flex flex-row items-center space-x-2;}
  svg {@apply text-zinc-600 dark:text-zinc-500 w-4 h-4;}
  a, span {@apply text-zinc-800 dark:text-zinc-300 hover:text-zinc-900 hover:dark:text-zinc-200 hover:underline;}
</style>