---
import Date from '../components/Date.astro';
const { school, address, dateStart, dateEnd = "Current", program, dept, advisor, gpa, gpaMajor } = Astro.props;
---

<li class="grid-4 mb-el">
  <div class="col-span-full grid-4">
    <Date
      dateStart={dateStart}
      dateEnd={dateEnd}
    />
    <div class="col-start-2 col-end-5 md:flex print:flex flex-row items-baseline space-x-1">
      <p class="font-semibold">{program}</p>
      {advisor && (
        <p class="acc1">(Advisor: {advisor})</p>
      )}
    </div>
  </div>
  <div class="col-start-2 col-end-5">
    <div class="print:flex print:flex-row items-baseline">
      <p class="acc1">{dept}</p>
      <p class="acc2 school">{school}, {address}</p>
    </div>
    {(gpa || gpaMajor) && (
      <p class="acc2">{gpa && `Overall GPA: ${gpa}`}{(gpa && gpaMajor) && '; '}{gpaMajor && `Major GPA: ${gpaMajor}`}</p>
    )}
  </div>
</li>

<style>
  @reference "../styles/common.css";
  @layer base {
    li.grid-4, div.grid-4 {@apply sm:grid grid-cols-4 gap-x-2 items-start justify-between;}
    li.grid-4 {@apply print:block;}
    div.grid-4 {@apply print:flex print:flex-row-reverse;}
    @media print {
      p.school::before {content: ", ";}
    }
  }
</style>
