---
import Date from '../components/Date.astro';
const { school, address, admitDate, gradDate = "Current", program, dept, advisor } = Astro.props;
---

<li class="grid-4 mb-el">
  <div class="col-span-full grid-4">
    <Date
      dateStart={admitDate}
      dateEnd={gradDate}
    />
    <p class="col-start-2 col-end-5 font-semibold">{program}</p>
  </div>
  <div class="col-start-2 col-end-5">
    <div>
      <p class="acc1">{dept}</p>
      <p class="acc1 advisor">Advisor: {advisor}</p>
    </div>
    <div class="print:flex print:flex-row justify-between">
      <p class="acc2">{school}, {address}</p>
      <p class="acc2">Overall GPA</p>
    </div>
  </div>
</li>

<style>
  @reference "../styles/common.css";
  @layer base {
    li.grid-4, div.grid-4 {@apply sm:grid grid-cols-4 gap-x-2 items-start justify-between;}
    li.grid-4 {@apply print:block;}
    div.grid-4 {@apply print:flex print:flex-row-reverse;}
    p.acc1 {@apply print:inline;}
    @media print {
      p.advisor::before {content: " (";}
      p.advisor::after {content: ")";}
    }
  }
</style>
