---
import type { HTMLAttributes } from 'astro/types';
interface Props extends HTMLAttributes<'p'> {
  year: string;
  month: string;
  day: string;
}
const { title, authors, journal, year, month, day, url, type, ...attrs } = Astro.props;
---

<li class="sm:flex sm:flex-row items-start justify-between mb-4">
  <div class="sm:mr-4">
    <a href={url} target="_blank">
      <p>{title}</p>
    </a>
    <p class="text-zinc-600 text-sm" set:html={authors}></p>
    <p class="text-zinc-500 text-sm italic">
      {type !== 'preprint' ? journal : "Preprint"}
    </p>
  </div>
  <p title=`${year}-${month}-${day}` class="text-zinc-600 text-sm">{year}</p>
</li>