---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';
interface Props extends HTMLAttributes<'p'> {
  year: string;
  month: string;
  day: string;
}
const { title, authors, journal, year, month, day, venue, address, url, type, externalIds, award, ...attrs } = Astro.props;
const date = day ? `${year}-${month}-${day}` : `${year}-${month}`;
---

<li class="sm:flex sm:flex-row items-start justify-between gap-x-4 mb-el">
  <div>
    {url && (
      <a href={url} target="_blank">
        <p class="title">{title}</p>
      </a>
    )}
    {!url && (
      <p class="title">{title}</p>
    )}
    <p class="acc1" set:html={authors}></p>
    <div class="sm:flex flex-row items-center space-x-2">
      <div class="flex flex-row items-center space-x-2">
        <p class="acc2">
          {journal}
          {type === 'preprint' && ('Preprint')}
          {venue && (`${venue}, ${address} (${type})`)}
        </p>
        <ul class="flex flex-row items-center space-x-2">
          {externalIds?.doi && (
            <li>
              <a href={`${externalIds.doi.url}`} target="_blank">
                <Icon name="doi" />
              </a>
            </li>
          )}
          {externalIds?.pmid && (
            <li>
              <a href={`${externalIds.pmid.url}`} target="_blank">
                <Icon name="pubmed-square" />
              </a>
            </li>
          )}
        </ul>
      </div>
      {award && (
        <div class="award">
          <Icon name="ic:baseline-emoji-events" />
          <span>{award}</span>
        </div>
      )}
    </div>
  </div>
  <p title={date} class="acc1">{year}</p>
</li>

<style>
  @reference "../styles/common.css";
  @layer base {
    a {@apply hover:underline;}
    svg {
      @apply w-4 h-4 text-zinc-600 dark:text-zinc-500 hover:text-zinc-900 hover:dark:text-zinc-200 print:hidden;
    }
    div.award {@apply flex flex-row items-center space-x-1 text-yellow-500 print:hidden;}
    div.award > svg {@apply text-yellow-500 dark:text-yellow-600;}
    div.award > span {@apply text-sm text-yellow-500 dark:text-yellow-600;}
  }
</style>