---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';
interface Props extends HTMLAttributes<'p'> {
  year: string;
  month: string;
  day: string;
}
const { title, authors, journal, year, month, day, venue, address, url, type, externalIds, ...attrs } = Astro.props;
const date = day ? `${year}-${month}-${day}` : `${year}-${month}`;
---

<li class="sm:flex sm:flex-row items-start justify-between mb-4">
  <div class="sm:mr-4">
    <a href={url} target="_blank">
      <p>{title}</p>
    </a>
    <p class="acc1" set:html={authors}></p>
    <div class="flex flex-row items-center space-x-2">
      <p class="acc2">
        {journal}
        {type === 'preprint' && ('Preprint')}
        {venue && (`${venue}, ${address} (${type})`)}
      </p>
      <ul class="flex flex-row items-center space-x-2">
        {externalIds?.doi && (
          <li>
            <a href={`${externalIds.doi.url}`} target="_blank">
              <Icon name="doi" />
            </a>
          </li>
        )}
        {externalIds?.pmid && (
          <li>
            <a href={`${externalIds.pmid.url}`} target="_blank">
              <Icon name="pubmed-square" />
            </a>
          </li>
        )}
      </ul>
    </div>
  </div>
  <p title={date} class="acc1">{year}</p>
</li>

<style>
  @reference "../styles/common.css";
  svg {
    @apply w-4 h-4 text-zinc-600 dark:text-zinc-500 hover:text-zinc-900 hover:dark:text-zinc-200;
  }
</style>