---
import { getCollection, getEntry } from 'astro:content';
import WorkItem from '../components/WorkItem.astro';
import InlineAnchor from '../components/InlineAnchor.astro';

const entry = await getCollection('work');
if (!entry) { console.error(entry); }
---
{entry[0]?.data?.sections?.map((section) => (
  <section class="mt-sec">
    <h2 id={section.id}>{section.title}</h2>
    {section.sections?.map((subsection) => (
      <h3 id={subsection.id}>{subsection.title}</h3>
      <ul>
      {subsection.items.map((item) => (
        <WorkItem
          job={item.job}
          team={item.team}
          advisor={item.advisor}
          company={item.company}
          address={item.address}
          dateStart={item.dateStart}
          dateEnd={item.dateEnd}
        >
        {item.description && (
          <ul class="workdesc">
            {item.description.map((d) => (
              <li><p set:html={d}></p></li>
            ))}
          </ul>
        )}
        </WorkItem>
      ))}
      </ul>
    ))}
  </section>
))}

<style>
  @reference "../styles/common.css";
  @layer base {
    ul.workdesc {
      @apply list-disc text-zinc-700 dark:text-zinc-400 print:text-zinc-700 text-sm mt-space ml-4;
    }
  }
</style>