---
import Date from '../components/Date.astro';
const { company, address, dateStart, dateEnd = "Current", job, team } = Astro.props;
---

<li class="mb-4">
  <div class="sm:flex sm:flex-row items-start justify-between">
    <div class="col-start-1 col-end-4">
      <p>{job}</p>
      <p class="acc1">{team}</p>
      <p class="acc2">{company}, {address}</p>
    </div>
    <Date
      dateStart={dateStart}
      dateEnd={dateEnd}
    />
  </div>
  <slot />
</li>