---
import Date from '../components/Date.astro';
const { company, address, dateStart, dateEnd = "Current", job, team, advisor } = Astro.props;
---

<li class="mb-el">
  <div>
    <div class="sm:flex sm:flex-row items-start justify-between">
      <p>{job}</p>
      <Date
        dateStart={dateStart}
        dateEnd={dateEnd}
      />
    </div>
    <p class="acc1">{team}{advisor && ` (Advisor: ${advisor})`}</p>
    <p class="acc2">{company}, {address}</p>
  </div>
  <slot />
</li>

<style>
  @reference "../styles/common.css";
  @layer base {
    p.acc1, p.acc2 {@apply print:inline;}
    @media print {
      p.acc1::after {content: ",";}
    }
  }
</style>
